<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="ERROR">
    <Properties>
        <Property name="basePath">/tmp</Property>
    </Properties>
    <Appenders>
        <RollingFile name="fileLogger1" fileName="${basePath}/app-info.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d] (%c) - %p %m %n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="com.amazonaws.msk.samples" level="info" additivity="false">
            <AppenderRef ref="fileLogger1"/>
            <AppenderRef ref="stdout"/>
        </Logger>
    </Loggers>
</Configuration>